

.navigationMenu .navbar-nav .nav-item {
  text-align: center;
  width: 100%;
  margin-right: 15px;
}

.navigationMenu .navbar-nav .nav-item .nav-link {
  /* margin-left: 0; */
  text-align: center;
  color: black;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
}

.menuactive {
  text-decoration: underline;
  color: aqua;
}
.navigationMenu .navbar-nav .nav-item:last-child {
  margin-right: 0 !important;
}

.navigationMenu .navbar-nav .nav-item .signUp,
.signUp {
  color: white;
  background-color: #343a40;
  padding: 10px 30px;
  width: 100%;
  line-height: 20px;
  text-align: center;
  height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.signUp:hover {
  color: white;
}

.navigationMenu .navbar-nav .nav-item .nav-link::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: black;
  transition: 0.4s ease-out;
}

.navigationMenu .navbar-nav .nav-item .nav-link:hover::after {
  left: 0%;
  width: 100%;
}

/* carousel  */
.carousel-indicators button {
  height: 1vw !important;
  width: 1vw !important;
  border-radius: 50% !important;
  background-color: #343a40 !important;
  margin: 0 30px !important;
}
.carousel-indicators {
  bottom: -80px;
  border-radius: 50%;
  height: 50px;
  display: flex;
  align-items: center;
}

.carousel-indicators .active {
  /* background-color: red; */
  height: 1.5vw !important;
  width: 1.5vw !important;
}

section:nth-child(3),
section:nth-child(4) {
  margin-top: 200px;
}

.label {
  color: #343a40 !important;
}
.inp {
  border: none;
  color: #adb5bd !important ;
  border-radius: 0%;
  border-bottom: 1px solid;
  padding: 0 !important;
  padding: 5px 10px;
  outline: none !important;
}
.btn-close:focus,
.inp:focus {
  box-shadow: none;
}
.imghead {
  max-width: 180px;
  max-height: 100px;
  margin: auto;
  padding-left: 80px;
}
.right {
  cursor: pointer;
  color: #495057;
  text-decoration: none;
}
.right:hover {
  color: #495057;
}
.button {
  background-color: #343a40 !important;
  margin: 0 auto;
  padding: 7px 40px !important;
  color: white;
}

.aboutSection div button.active{
  background-color: #343a40 !important;
  color: white !important;
}
.aboutSection div button{
  color: #343a40 !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    width: 100%;
  }
  
}
@media (max-width: 992px) {
  section:nth-child(3),
  section:nth-child(4) {
    margin-top: 100px;
  }
  .aboutSection .d-flex div#v-pill-tab.nav.flex-column.nav-pills.me-5{
    /* min-width: 0; */
    flex-direction: row;
    margin-left: 0px !important;
  }
  
  .aboutSection .d-flex{
    flex-direction: column;
    align-items: center !important;
  }
  .footer{
    max-height: 100%;
  }
}


/* body {
  min-height: 100vh;
} */

