<%- include('partials/head') %> 


<%- include('partials/adminNav') %> 
<section class="container col-lg-8 col-md-12 col-sm-12 svgContainer mb-5" style="margin-top: 60px;">
    <main class="grid">
      <article class=" mt-3">
        <i class="fas fa-truck"></i>
        <div class="text">
          <h3>Fast Delievery</h3>
          <p>We always try to deliever our customer with their products at the earliest. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero dolor, voluptatem iste necessitatibus illum a.</p>
        </div>
      </article>
      <article class=" mt-3">
        <i class="fas fa-tshirt"></i>
        <div class="text">
          <h3>HQ Products</h3>
          <p>Get your favourite fest's merchandise made with High quality materials. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt inventore soluta vel perspiciatis vitae. Totam!</p>
        </div>
      </article>
      <article class=" mt-3">
        <i class="fab fa-cc-stripe"></i>
        <div class="text">
          <h3>Secure Payment</h3>
          <p>Now you don't have to worry as we have integrated stripe in our website, one of the best Secure payment Gateway known, worldwide. </p>
        </div>
      </article>
    </main>
    <div class="row align-items-center imgRow">
      <!-- img part  -->
      <div class="col-sm-6 d-flex justify-content-center">
        <img
          class="img-fluid"
          src="/image/middleSection.svg"
          style="max-width: 80%; height: auto"
        />
      </div>
      <!-- img part  -->

      <!-- text part  -->
      <div class="col-sm-6">
        <h1>SXC Merch</h1>
        <p>
          SXC Merch is an E-Commerce Website designed specially for St. Xavier's College.
          It brings you the latest merchandise of the various fests organised in the 
          college. Fests are an
        </p>
      </div>
    </div>
    <!-- text part  -->

  </section>

</body>