<%- include('partials/head') %>
<body style="background-color: #343a40">
  <!-- ------------ navbar ------------- -->
  <%- include('partials/adminNav')%> <%- include('partials/scrollToTop')%>


</body>
