<!DOCTYPE html>
<%- include('partials/head') %> 

  <body>
    <!-- ------------ navbar ------------- -->
    <%- include('partials/nav') %> 

    <%- include('partials/footer') %> 
  
  </body>
</html>

