<!DOCTYPE html>
<%- include('partials/head') %> 

  <body>
    <!-- ------------ navbar ------------- -->
    <%- include('partials/nav') %> 
    <!-- ------------ navbar ------------- -->
    <%- include('partials/footer') %> 
    
    </script>
  </body>
</html>
